.my-button{
    height: 200px;
    width: 200px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: dodgerblue;
    margin: 20px;
    border-radius: 10px;
}