<mat-toolbar>
    <nav >
        
        <ul>
            <li>
                <a [routerLink]="['']" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}">Home</a>
            </li>
            <li>
                <a  [routerLink]="['route1']" [routerLinkActive]="['active']">Banner</a>
            </li>
            <li>
                <a  [routerLink]="['route2']" [routerLinkActive]="['active']">Ecom</a>
            </li>
            <li>
                <a [routerLink]="['route3']" [routerLinkActive]="['active']">IOTimer</a>
            </li>
            <li>
                <a [routerLink]="['route4']" [routerLinkActive]="['active']">SSTimer</a>
            </li>
            <li>
                <a [routerLink]="['route5']" [routerLinkActive]="['active']">Table-View</a>
            </li>
            <li>
                <a [routerLink]="['route6']" [routerLinkActive]="['active']">Dynamic Buttons</a>
            </li>
        </ul>
    </nav>
</mat-toolbar>
<div  *ngIf="showContent"
style="height: 90vh;width: 100%;display: flex;flex-direction: column;justify-content: center;align-items: center;">
    <img height="350" width="700"  src="./../assets/angular.png">
    <h1>
        Please click on the above links!
    </h1>
</div>
<router-outlet></router-outlet>
<!-- <app-container></app-container> -->