<div class="container centerContent">
    <div class="first-box borderDiv centerContent">
        <div class="inner-box borderDiv centerContent">
            <div class="inner-box borderDiv centerContent">
                <div class="inner-box borderDiv centerContent">
                    <div class="inner-box borderDiv centerContent"> 
                        <div class="inner-box borderDiv centerContent">
                            <div class="inner-box borderDiv centerContent">
                                <div class="inner-box borderDiv centerContent">
                                    <marquee class="rotatingText" width="100%" direction="left" height="100px">
                                        Welcome to PS Angular Assigment
                                        </marquee>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>